# joint data sliding

In [1]:
import pandas as pd

## Data Load

In [2]:
df = pd.read_csv('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/smoking_nosl.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,index
0,1001.310,191.794,974.681,265.363,915.879,268.263,886.412,365.387,892.256,453.755,...,721.544,992.316,177.022,1012.95,177.034,951.296,180.159,0.0,0.0,45-1_006-C01
1,1001.370,191.830,974.702,265.326,918.839,268.218,886.498,365.393,892.316,456.577,...,718.776,992.381,177.024,1015.89,177.091,954.022,180.145,0.0,0.0,45-1_006-C01
2,1004.180,194.697,974.788,265.375,921.714,268.241,886.477,365.502,892.311,456.764,...,718.800,995.287,177.095,1018.78,177.154,954.154,180.149,0.0,0.0,45-1_006-C01
3,1004.250,194.760,977.661,262.410,924.738,265.354,889.402,362.514,889.416,453.677,...,721.557,995.361,177.167,1018.85,177.182,954.270,183.041,0.0,0.0,45-1_006-C01
4,1007.080,194.796,977.692,262.430,927.524,265.432,889.363,362.596,889.320,453.680,...,721.574,998.112,177.201,1021.63,177.194,957.030,183.052,0.0,0.0,45-1_006-C01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5420,951.092,227.156,880.605,306.562,830.460,309.537,792.325,430.239,815.801,533.290,...,856.830,933.599,218.325,0.00,0.000,898.137,221.349,0.0,0.0,45-1_627-C06
5421,951.095,227.153,880.604,306.598,830.466,309.517,792.336,430.221,818.712,536.127,...,856.855,933.613,218.319,0.00,0.000,898.164,221.364,0.0,0.0,45-1_627-C06
5422,951.098,227.179,880.566,306.550,830.454,306.644,795.196,430.169,818.761,530.384,...,854.094,933.624,218.343,0.00,0.000,898.194,221.375,0.0,0.0,45-1_627-C06
5423,951.085,227.188,880.513,306.593,830.407,306.614,795.193,427.292,821.636,527.419,...,856.838,933.625,218.329,0.00,0.000,898.174,221.326,0.0,0.0,45-1_627-C06
5424,951.076,227.186,880.534,306.632,830.472,306.615,798.084,427.242,827.557,530.313,...,856.868,933.607,218.335,0.00,0.000,898.169,221.342,0.0,0.0,45-1_627-C06

## Sliding

In [3]:
count = df['index'].value_counts()
count_df = pd.DataFrame(count).sort_index()

count_df

              index
45-1_006-C01    210
45-1_009-C10    210
45-1_014-C09    150
45-1_015-C06    180
45-1_017-C01    180
45-1_017-C10    180
45-1_025-C07    180
45-1_029-C02    180
45-1_031-C11    180
45-1_039-C02    180
45-1_039-C10    180
45-1_054-C11     55
45-1_059-C01    180
45-1_061-C02    210
45-1_064-C11    150
45-1_065-C12    150
45-1_068-C02    150
45-1_071-C05    150
45-1_072-C05    150
45-1_074-C09    150
45-1_082-C08    270
45-1_082-C09    270
45-1_083-C03    180
45-1_100-C02    150
45-1_606-C05    150
45-1_608-C09    180
45-1_610-C09    180
45-1_619-C09    210
45-1_623-C09    150
45-1_623-C12    150
45-1_627-C06    180

In [4]:
videos = list(set(df['index']))
videos.sort()

frames = []
for v in videos:
    frames.append(df[df['index'] == v].index)

In [5]:
target_frame = 32
slices = []
for frame in frames:
        sl = []
        for f in frame:     
            if f <= frame[-1] - target_frame + 1:
                sl.append((f, f + target_frame - 1))
        slices.append(sl)

In [6]:
for sl in slices:
    for (start,end) in sl:
        temp = (start,end)
        st=temp[0]
        ed=temp[1]

In [7]:
df1 = pd.DataFrame()

for sl in slices:
    for (start, end) in sl:
        temdf=df.iloc[start:end+1] # 자른 df
        df1=pd.concat([df1, temdf],ignore_index=True)

## Resize

In [8]:
n_frame = 32

for i in range(n_frame):
    if i % 2 == 0:
        df1[str(i)] = df1[str(i)] / 1920.0 * 640.0
    else:
        df1[str(i)] = df1[str(i)] / 1080.0 * 480.0

df1.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,index
0,333.770000,85.241778,324.893667,117.939111,305.293000,119.228000,295.470667,162.394222,297.418667,201.668889,...,320.686222,330.772000,78.676444,337.650000,78.681778,951.296,180.159,0.0,0.0,45-1_006-C01
1,333.790000,85.257778,324.900667,117.922667,306.279667,119.208000,295.499333,162.396889,297.438667,202.923111,...,319.456000,330.793667,78.677333,338.630000,78.707111,954.022,180.145,0.0,0.0,45-1_006-C01
2,334.726667,86.532000,324.929333,117.944444,307.238000,119.218222,295.492333,162.445333,297.437000,203.006222,...,319.466667,331.762333,78.708889,339.593333,78.735111,954.154,180.149,0.0,0.0,45-1_006-C01
3,334.750000,86.560000,325.887000,116.626667,308.246000,117.935111,296.467333,161.117333,296.472000,201.634222,...,320.692000,331.787000,78.740889,339.616667,78.747556,954.270,183.041,0.0,0.0,45-1_006-C01
4,335.693333,86.576000,325.897333,116.635556,309.174667,117.969778,296.454333,161.153778,296.440000,201.635556,...,320.699556,332.704000,78.756000,340.543333,78.752889,957.030,183.052,0.0,0.0,45-1_006-C01

In [9]:
df1.shape[0]

142848

In [10]:
df1['index'] = [1] * df1.shape[0]

In [11]:
df1.rename(columns={'index':'y'}, inplace=True)

In [12]:
df1

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,y
0,333.770000,85.241778,324.893667,117.939111,305.293000,119.228000,295.470667,162.394222,297.418667,201.668889,...,320.686222,330.772000,78.676444,337.650000,78.681778,951.296,180.159,0.0,0.0,1
1,333.790000,85.257778,324.900667,117.922667,306.279667,119.208000,295.499333,162.396889,297.438667,202.923111,...,319.456000,330.793667,78.677333,338.630000,78.707111,954.022,180.145,0.0,0.0,1
2,334.726667,86.532000,324.929333,117.944444,307.238000,119.218222,295.492333,162.445333,297.437000,203.006222,...,319.466667,331.762333,78.708889,339.593333,78.735111,954.154,180.149,0.0,0.0,1
3,334.750000,86.560000,325.887000,116.626667,308.246000,117.935111,296.467333,161.117333,296.472000,201.634222,...,320.692000,331.787000,78.740889,339.616667,78.747556,954.270,183.041,0.0,0.0,1
4,335.693333,86.576000,325.897333,116.635556,309.174667,117.969778,296.454333,161.153778,296.440000,201.635556,...,320.699556,332.704000,78.756000,340.543333,78.752889,957.030,183.052,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142843,317.030667,100.958222,293.535000,136.249778,276.820000,137.572000,264.108333,191.217333,271.933667,237.017778,...,380.813333,311.199667,97.033333,0.000000,0.000000,898.137,221.349,0.0,0.0,1
142844,317.031667,100.956889,293.534667,136.265778,276.822000,137.563111,264.112000,191.209333,272.904000,238.278667,...,380.824444,311.204333,97.030667,0.000000,0.000000,898.164,221.364,0.0,0.0,1
142845,317.032667,100.968444,293.522000,136.244444,276.818000,136.286222,265.065333,191.186222,272.920333,235.726222,...,379.597333,311.208000,97.041333,0.000000,0.000000,898.194,221.375,0.0,0.0,1
142846,317.028333,100.972444,293.504333,136.263556,276.802333,136.272889,265.064333,189.907556,273.878667,234.408444,...,380.816889,311.208333,97.035111,0.000000,0.000000,898.174,221.326,0.0,0.0,1
142847,317.025333,100.971556,293.511333,136.280889,276.824000,136.273333,266.028000,189.885333,275.852333,235.694667,...,380.830222,311.202333,97.037778,0.000000,0.000000,898.169,221.342,0.0,0.0,1

In [13]:
df1.shape[0] / 32

4464.0

In [14]:
df1.to_csv('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/smoking_sliding.csv',index=False)