In [76]:
import glob
import pandas as pd

In [77]:
x_path = glob.glob('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/X*.txt')
x_path

['/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/X_train.txt',
 '/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/X_test.txt']

In [78]:
y_path = glob.glob('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/Y*.txt')
y_path

['/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/Y_train.txt',
 '/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/punching/Y_test.txt']

In [79]:
x_train_df = pd.read_csv(x_path[0], names=[str(i) for i in range(36)])
print(x_train_df.shape)

x_test_df = pd.read_csv(x_path[1], names=[str(i) for i in range(36)])
print(x_test_df.shape)

print((x_train_df.shape[0] + x_test_df.shape[0], 36))

(724000, 36)
(184032, 36)
(908032, 36)

In [80]:
x_df = pd.concat([x_train_df, x_test_df], ignore_index=True)
y_df = pd.concat([y_train_df, y_test_df])

In [81]:
x_df

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,295.914,161.579,307.693,203.413,281.546,203.368,274.997,251.562,267.194,293.253,...,328.528,411.922,294.546,156.420,305.002,156.418,0.000,0.000,318.083,161.632
1,295.855,161.600,307.684,203.408,281.529,203.385,274.989,251.574,267.191,291.961,...,328.493,410.630,293.252,157.686,303.706,157.706,0.000,0.000,318.024,161.654
2,293.296,161.620,307.655,203.410,280.228,203.382,274.986,251.591,267.262,289.373,...,328.522,411.946,289.374,157.686,299.798,157.714,0.000,0.000,316.776,161.679
3,291.978,161.658,307.619,204.678,278.918,204.659,275.001,254.114,269.794,289.363,...,328.479,411.947,288.101,157.727,298.487,158.985,0.000,0.000,316.720,161.697
4,288.063,168.120,306.362,209.835,276.384,211.108,275.010,255.461,275.003,294.581,...,329.774,411.884,286.774,161.596,297.133,161.601,0.000,0.000,315.402,166.840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908027,366.269,118.668,349.300,159.042,328.442,160.358,316.776,212.464,320.671,255.444,...,355.854,357.130,358.425,114.723,367.533,113.418,340.189,119.987,0.000,0.000
908028,366.290,118.670,349.308,160.266,328.439,161.576,316.781,212.448,318.045,255.522,...,355.845,357.134,358.445,115.974,367.545,113.419,340.209,119.993,0.000,0.000
908029,366.263,118.653,349.319,160.252,328.466,160.384,316.780,211.146,316.759,252.873,...,355.851,357.136,358.409,114.716,367.550,113.382,340.198,119.966,0.000,0.000
908030,366.268,118.629,349.311,160.253,328.475,161.605,316.763,212.470,316.719,254.155,...,355.854,357.127,358.398,114.702,367.562,112.092,340.203,119.970,0.000,0.000
908031,366.257,118.634,349.318,159.047,328.472,161.597,316.767,212.438,316.711,254.214,...,355.849,357.121,358.395,114.704,367.563,112.099,340.208,119.964,0.000,0.000

In [82]:
y_train_df = pd.read_csv(y_path[0], names=['y'])
print(y_train_df.shape)

y_test_df = pd.read_csv(y_path[1], names=['y'])
print(y_test_df.shape)

print((y_train_df.shape[0] + y_test_df.shape[0], 1))

(22625, 1)
(5751, 1)
(28376, 1)

In [83]:
a = dict(y_train_df.value_counts().sort_index())
a

{(1,): 2400, (2,): 3545, (3,): 4724, (4,): 4760, (5,): 5055, (6,): 2141}

In [84]:
b = dict(y_test_df.value_counts().sort_index())
b

{(1,): 676, (2,): 783, (3,): 1216, (4,): 1320, (5,): 1313, (6,): 443}

In [85]:
a[(1, )]

2400

In [86]:
y_a1 = [0] * a[(1, )] * 32
y_a2 = [1] * a[(2, )] * 32
y_a3 = [2] * a[(3, )] * 32
y_a4 = [3] * a[(4, )] * 32
y_a5 = [4] * a[(5, )] * 32
y_a6 = [5] * a[(6, )] * 32

y_b1 = [0] * b[(1, )] * 32
y_b2 = [1] * b[(2, )] * 32
y_b3 = [2] * b[(3, )] * 32
y_b4 = [3] * b[(4, )] * 32
y_b5 = [4] * b[(5, )] * 32
y_b6 = [5] * b[(6, )] * 32

y = y_a1 + y_a2 + y_a3 + y_a4 + y_a5 + y_a6 + \
    y_b1 + y_b2 + y_b3 + y_b4 + y_b5 + y_b6

y_df = pd.DataFrame(y, columns=['y'])

y_df

        y
0       0
1       0
2       0
3       0
4       0
...    ..
908027  5
908028  5
908029  5
908030  5
908031  5

[908032 rows x 1 columns]

In [87]:
df = pd.concat([x_df, y_df], axis=1)
df.reset_index(drop=True, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,y
0,295.914,161.579,307.693,203.413,281.546,203.368,274.997,251.562,267.194,293.253,...,411.922,294.546,156.420,305.002,156.418,0.000,0.000,318.083,161.632,0
1,295.855,161.600,307.684,203.408,281.529,203.385,274.989,251.574,267.191,291.961,...,410.630,293.252,157.686,303.706,157.706,0.000,0.000,318.024,161.654,0
2,293.296,161.620,307.655,203.410,280.228,203.382,274.986,251.591,267.262,289.373,...,411.946,289.374,157.686,299.798,157.714,0.000,0.000,316.776,161.679,0
3,291.978,161.658,307.619,204.678,278.918,204.659,275.001,254.114,269.794,289.363,...,411.947,288.101,157.727,298.487,158.985,0.000,0.000,316.720,161.697,0
4,288.063,168.120,306.362,209.835,276.384,211.108,275.010,255.461,275.003,294.581,...,411.884,286.774,161.596,297.133,161.601,0.000,0.000,315.402,166.840,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908027,366.269,118.668,349.300,159.042,328.442,160.358,316.776,212.464,320.671,255.444,...,357.130,358.425,114.723,367.533,113.418,340.189,119.987,0.000,0.000,5
908028,366.290,118.670,349.308,160.266,328.439,161.576,316.781,212.448,318.045,255.522,...,357.134,358.445,115.974,367.545,113.419,340.209,119.993,0.000,0.000,5
908029,366.263,118.653,349.319,160.252,328.466,160.384,316.780,211.146,316.759,252.873,...,357.136,358.409,114.716,367.550,113.382,340.198,119.966,0.000,0.000,5
908030,366.268,118.629,349.311,160.253,328.475,161.605,316.763,212.470,316.719,254.155,...,357.127,358.398,114.702,367.562,112.092,340.203,119.970,0.000,0.000,5
908031,366.257,118.634,349.318,159.047,328.472,161.597,316.767,212.438,316.711,254.214,...,357.121,358.395,114.704,367.563,112.099,340.208,119.964,0.000,0.000,5

In [88]:
df.shape

(908032, 37)

In [89]:
LABELS = [    
    "JUMPING",
    "JUMPING_JACKS",
    "BOXING",
    "WAVING_2HANDS",
    "WAVING_1HAND",
    "CLAPPING_HANDS"
] 

df = df[df['y']== LABELS.index(LABELS[2])]
df.reset_index(drop=True, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,y
0,290.693,161.699,307.602,207.250,285.384,205.939,275.033,250.267,265.938,286.746,...,419.732,290.661,158.996,298.499,160.267,0.000,0.000,317.984,164.255,2
1,290.692,161.703,307.593,205.975,284.154,204.656,275.023,250.258,265.927,286.758,...,420.964,290.662,159.004,298.495,160.273,0.000,0.000,317.984,164.251,2
2,291.954,161.696,307.587,207.241,284.136,204.675,275.016,251.537,265.938,286.740,...,420.957,290.669,158.995,298.510,160.266,0.000,0.000,317.990,164.251,2
3,290.694,161.694,307.602,207.250,284.168,205.932,275.020,251.551,265.923,286.781,...,420.955,290.658,158.992,298.504,160.261,0.000,0.000,316.802,164.252,2
4,290.694,161.683,307.600,207.254,284.173,205.931,275.016,251.550,265.919,286.792,...,420.970,290.667,158.981,298.509,160.255,0.000,0.000,317.985,164.270,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190075,367.578,109.469,349.299,142.116,327.101,142.101,299.802,182.473,320.646,202.043,...,353.245,359.727,106.869,368.857,104.290,345.406,109.511,0.000,0.000,2
190076,379.255,112.106,349.331,140.824,331.071,142.121,306.313,186.382,331.084,204.638,...,351.960,371.494,108.198,379.248,108.158,355.837,109.469,0.000,0.000,2
190077,379.292,109.562,349.351,140.847,331.095,142.109,306.357,183.829,331.106,204.647,...,351.937,371.516,108.108,379.248,106.858,357.107,109.438,0.000,0.000,2
190078,379.257,110.819,349.347,140.830,331.103,142.100,306.338,183.821,333.668,205.941,...,351.949,371.485,108.133,379.248,108.142,354.542,108.249,0.000,0.000,2
190079,379.276,110.827,349.356,140.838,331.108,142.062,306.338,183.799,331.061,204.640,...,351.939,371.519,108.125,379.280,108.150,355.841,108.219,0.000,0.000,2

In [91]:
# 이미 sliding된 파일이므로 _sliding으로 저장
df.to_csv('../datasets/punching_sliding.csv', index=False)